
<div class="product-card" (click)="log($event,false)">
      <div class="position-relative">
          <img
            [src]="product.images ? product.images : product.image"
            class="product-image rounded-2"
            width="270"
            height="250"
            [alt]="product.title"
          />    
          @if(product.icon){
            <button
              class="btn btn-sm position-absolute top-0 end-0 star m-2"
              (click)="starClick(starbtn)"
              #starbtn
            >
              <i class="bi" [class]="product.icon"></i>
            </button>
          }
      </div>
    <div class="pt-2 px-1">
      <h5 class="product-title fs-6">{{ product.title }}</h5>
      <p class="product-price">${{ product.price }}</p>
    </div>
    <div>
      <button
        class="btn btn-sm position-absolute top-0 end-0 star m-2"
        (click)="starClick(starbtn)"
        #starbtn
      >
        <i class="bi" [class]="product.icon"></i>
      </button>
    </div>
    <button class="btn w-100 btn-success position-absolute bottom-0">
      add to card
    </button>
  </div>
  <div class="pt-2 px-1">
    <h5 class="product-title fs-6">{{ product.title }}</h5>
    <p class="product-price">${{ product.price }}</p>
  </div>