<div
  class="product-card rounded-2 title"
  style="max-width: 265px"
  (click)="log($event, product.id)"
  role="button"
>
  <div class="position-relative">
    <div class="product-img">
      <img
        [src]="product.images ? product.images : product.image"
        class="product-image rounded-2"
        width="265"
        height="250"
        #img
        [alt]="product.title"
        (error)="handleError(img)"
      />
    </div>
    @if(product.icon){
    <button
      id="star"
      class="btn btn-sm position-absolute top-0 end-0 star m-2"
      (click)="starClick(starbtn, product.id)"
      #starbtn
    >
      <i class="bi" id="star" [class]="product.icon"></i>
    </button>
    }
    <button
      id="AddCart"
      class="btn w-100 rounded-0 rounded-bottom btn-success position-absolute bottom-0"
      (click)="service.AddCart(product.id)"
    >
      Add To Cart
    </button>
    <p
      class="position-absolute top-0 left-0 mt-2 bg-danger px-2 py-1 ms-2 rounded-2 text-white"
    >
      {{ -foiz }}%
    </p>
  </div>
  <div class="pt-2 px-1">
    <h5 class="product-title fs-6 text-wrap" style="height:40px">{{ product.title }}</h5>
    <p-rating class="my-1" [(ngModel)]="value" [readonly]="true" />
    <p class="mb-1">${{ real }} / month</p>
    <div>
      <p class="mb-0">
        <del> ${{ OldSum }}</del>
      </p>
      <p class="product-price fs-5 fw-bold">
        ${{ Sum }}
      </p>
    </div>
  </div>
</div>
