<div class="container mt-5">
  <div class="flash-sales mb-4 d-flex justify-content-between">
    <div class="d-flex flex-column">
      <app-heading label="Today's" />
      <h2><span class="highlight heading">Flash Sales</span></h2>
    </div>
    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-light left3">
        <i class="pi pi-arrow-left"></i>
      </button>
      <button class="btn btn-light right3">
        <i class="pi pi-arrow-right"></i>
      </button>
    </div>
  </div>
  <app-flash-swiper
  [startLength]="0"
  [endLength]="12"
  [showBtn]="false"
  [id]="3"
  ></app-flash-swiper>
  @if (allBtn) {
  <app-flash-swiper
  [startLength]="12"
  [endLength]="false"
  [id]="4"
  ></app-flash-swiper>
  }
  <div class="text-center mt-4">
    <button
      class="btn text-white btn-danger px-5 py-2 my-5"
      (click)="AllClickbtn()"
    >
      @if (!allBtn) { View All Products }@else { Show Less }
    </button>
  </div>
</div>
