<section id="wishlist">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h5 class="title">Wishlist (4)</h5>
                <app-secondary-button
                label="Move All To Bag"
                />
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-4 my-4">
            @for (product of products; track $index) {
                    <app-product-card
                    [product]="product"
                    />
            }    
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5">
            <app-heading2
            label="Just For You"
            />
            <app-secondary-button
            [label]="show === 4 ? 'See All' : 'See less'"
            (click)="handleClick()"
            />
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-4 mb-4">
            @for (product of data()?.slice(0,show); track $index) {
                <app-product-card
                [product]="product"
                />
            }
        </div>
    </div>
</section>