    <div class="swiper mySwiper33">
        <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <img [src]="totalImages[0]" class="rounded-1" width="300" height="300" [alt]="'mobile-img' + 0">
                    </div>
                    <div class="swiper-slide">
                        <img [src]="totalImages[1]" class="rounded-1" width="300" height="300" [alt]="'mobile-img' + 1">
                    </div>
                    <div class="swiper-slide">
                    <img [src]="totalImages[2]" class="rounded-1" width="300" height="300" [alt]="'mobile-img' + 2">
                </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>