<section id="contact">
    <div class="container">
        <div class="d-flex gap-1 my-5 title">
            <a routerLink="/home" style="color:gray !important; text-wrap:nowrap;">Home /</a>
            <p>Contact</p>
        </div>
        <div class="row gap-4">
            <div class="col-lg-4 shadow-lg p-4 rounded-1">
<!-- CONTACTS -->
 <div>
     <div class="d-flex gap-3 mb-3">
        <i class="bi bi-telephone text-white bg-danger rounded-circle px-2 py-1"></i>
        <h1 class="fs-6 title fw-semibold pt-2">Call To Us</h1>
     </div>
     <p class="title">We are available 24/7, 7 days a week.</p>
     <p class="title border-bottom border-3 pb-4">Phone: +8801611112222</p>
 </div>
 <div class="pt-3">
    <div class="d-flex gap-3 mb-3">
        <i class="bi bi-envelope text-white bg-danger rounded-circle px-2 py-1"></i>
        <h1 class="fs-6 title fw-semibold pt-2">Write To Us</h1>
    </div>
    <p class="title">Fill out our form and we will contact you within 24 hours.</p>
    <p class="title">Emails: customer&#64;khairandcreed.com</p>
    <p class="title pb-4">Emails: support&#64;khairandcreed.com</p>
 </div>
            </div>
            <div class="col-lg shadow-lg p-4 rounded-1">
<!-- SEND MESSAGE -->
 <div class="row">
    <div class="col-lg mb-lg-0 mb-3">
        <input type="text" class="form-control-plaintext bg-secondary ps-3 rounded-1" placeholder="Your Name">
    </div>
    <div class="col-lg mb-lg-0 mb-3">
        <input type="text" class="form-control-plaintext bg-secondary ps-3 rounded-1" placeholder="Your Email">
    </div>
    <div class="col-lg mb-lg-0">
        <input type="text" class="form-control-plaintext bg-secondary ps-3 rounded-1" placeholder="Your Phone">
    </div>
    <div class="w-100 mb-4"></div>
    <div class="col-lg">
        <textarea class="form-control-plaintext bg-secondary ps-3 rounded-1" rows="12" placeholder="Your Message"></textarea>
    </div>
 </div>
 <div class="d-flex justify-content-end mt-3">
     <button class="btn btn-danger text-white">Send Message</button>
 </div>
            </div>
        </div>
    </div>
</section>