<section id="cart">
    <div class="container">
        <p class="title my-5">
            <a style="color:gray !important;" routerLink="/home">Home /</a> Cart
        </p>
        @if(isLoading()) {
            <div class="center">
                <p-progress-spinner aria-label="loading" />
            </div>
        }@else {
            @if(products.length){
                <p-table [value]="products" [tableStyle]="{'max-width':width}">
                    <ng-template #header>
                        <tr>
                            <th class="d-lg-block d-none">Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr (click)="navigate(product.id,$event)" class="table-row">
                            <td class="d-lg-flex d-none justify-content-end align-items-center gap-2 flex-row-reverse">
                                <p class="title" style="max-width:200px;">{{product.title}}</p>
                                <img [src]="product.image ? product.image : product.images" [alt]="product.name" width="50"
                                    height="50" class="rounded-1">
                            </td>
                            <td>
                                {{product.sum}}
                            </td>
                            <td id="input">
                                <input
                                id="input"    
                                type="number" [value]="product.quantity" [(ngModel)]="product.quantity"
                                    (ngModelChange)="onChange(product.id,$event, input)" min="0" #input style="width:40px">
                            </td>
                            <td>
                                ${{product.total}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            }@else {
                <h1 class="heading fs-2 text-center w-100 my-5">Empty Cart! <i class="bi bi-search-heart"></i> <br><span class="fs-6 title">There's no product you've added here!</span></h1>
            }
        }
        <div class="d-flex text-nowrap flex-wrap justify-content-between align-items-center my-3 py-3 btns">
            <app-secondary-button label="Return To Shop" routerLink="/search"></app-secondary-button>
            <app-secondary-button label="Update Cart">
            </app-secondary-button>
        </div>
        <div class="d-flex mb-5 pb-5 flex-wrap justify-content-between align-items-center wrapper">
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
                <app-input type="text" placeholder="Coupon Code"></app-input>
                <app-button text="Apply Coupon"></app-button>
            </div>
            <div style="width:24rem" class="border border-black border-2 p-3 mt-lg-0 mt-4">
                <h5 class="title">Cart Total</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex border-bottom mb-3 justify-content-between align-items-center">
                        <p class="title">Subtotal:</p>
                        <p class="title">${{total}}</p>
                    </div>
                    <div class="d-flex border-bottom mb-3 justify-content-between align-items-center">
                        <p class="title">Shipping:</p>
                        <p class="title">Free</p>
                    </div>
                    <div class="d-flex border-bottom mb-3 justify-content-between align-items-center">
                        <p class="title">Total:</p>
                        <p class="title">${{total}}</p>
                    </div>
                </div>
                <p-toast [breakpoints]="{'576px':{width:'300px'}}" />
                <div class="d-flex justify-content-center align-items-center">
                    <div (click)="show()">
                        <app-button text="Proccess to checkout"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>