<section id="error">
    <div class="container">
        <div class="d-flex gap-1 my-5 title">
            <a routerLink="/home" style="color:gray !important; text-wrap:nowrap;">Home /</a>
            <p>Error</p>
        </div>
        <div class="center text-center">
            <h1 class="heading display-1">404 Not Found</h1>
            <p class="title">Your visited page not found. You may go home page.</p>
            <button routerLink="/home" class="btn btn-danger text-white">Back to home page</button>
        </div>
    </div>
</section>