<div class="container">
  <div class="row mt-4">
    <div class="col d-xl-block d-none mb-5">
      <img
        src="../../../assets/image/Side Image.png"
        width="605"
        height="581"
        alt=""
      />
    </div>
    <div class="col align-self-center ">
      <form [formGroup]="profileForm" action="" (ngSubmit)="onSubmit()">
        <div>
          <h1 class="heading">Log in to {{ environment.appThemeName }}</h1>
          <p>Enter your details below</p>
        </div>
        <div>
          <input
            type="text"
            class="form-control-plaintext border-bottom border-2"
            placeholder="Email or Phone Number"
            formControlName="nameLogin"
          />
        </div>
        <div class="mt-3">
          <input
            type="password"
            class="form-control-plaintext border-bottom border-2"
            placeholder="Password"
            formControlName="passLogin"
          />
          @if(showErr){ 
            <p class="text-danger">Password or Email is incorrect!</p>
          }
        </div>
        <div class="mt-3 d-flex justify-content-between mb-xl-0 mb-4">
          <app-button
          text="Log In"
          [isDisabled]="!profileForm.valid"
          type="submit"
          />
          <button class="btn btn-dark">Forget Password?</button>
        </div>
      </form>
    </div>
  </div>
</div>
