    <section id="hero">
    <div class="container-lg">
        <div class="row">
            <div class="d-lg-block d-none col-auto border-end pt-4" style="width:250px">
                @for (list of lists; track $index) {
                    @if($index < 2){
                        <select 
                        class="form-select border-0 p-0 title mb-3"
                        role="button"
                        (change)="reloadPage()"
                        >
                            <option selected>{{list.placeholder}}</option>
                            @for (item of list.options; track $index) {
                                <option [value]="item.code">{{item.name}}</option>
                            }
                        </select>
                    }@else {
                        <a routerLink="/search">
                            <p class="title list d-block">
                                {{list}}
                            </p>
                        </a>
                    }
                }
            </div>
                <div class="m-lg-4 m-0 p-0 swiper col mySwiper2 text-white">
                    <div class="swiper-wrapper w-100">
                            <div class="swiper-slide bg-black ps-5 overflow-hidden">
                              <div class="row" style="position:sticky; top:50px">
                                  <div class="col">
                                      <div class="d-flex pt-4 gap-3">
                                          <i class="pi pi-apple fs-1"></i>
                                          <p class="title iphone pt-2 text-nowrap">iPhone 14 Series</p>
                                      </div>
                                      <h1 class="heading text-nowrap">
                                          Up to 10%<br> off Voucher
                                      </h1>
                                      <div class="d-flex shop align-items-center gap-2">
                                          <div>
                                              <a routerLink="/search" class="title fs-4 text-nowrap">Show Now</a>
                                              <div class="bg-white bb" style="height:2px"></div>
                                          </div>
                                          <i class="pi pi-arrow-right pb-3" style="position:relative; top:7px;"></i>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <img ngSrc="./assets/media/hero/hero-img.png" class="object-fit-cover hero-img" alt="hero-img" width="300" height="260" priority>
                                  </div>
                              </div>
                            </div>
                            <div class="swiper-slide overflow-hidden" style="
                            background-image:url('./assets/media/hero/hero2-img.jpg');
                            background-position: center;
                            background-size: cover;
                            background-repeat:no-repeat;
                            ">
                                <div class="center text-center position-sticky" style="top:70px;">
                                        <h1 class="heading text-nowrap">GROCERIES DELIVERY</h1>
                                        <p class="title pe-1" style="max-width:530px">We know how large objects will act, but things on a 
                                            small scale just do not act that way.</p>
                                            <a routerLink="/search" class="btn btn-lg btn-primary">Start Now</a>
                                </div>
                            </div>
                            <div class="swiper-slide p-4 overflow-hidden" style="
                            background-image:url('./assets/media/hero/hero3-img.png');
                            background-position:center;
                            background-size:cover;
                            background-repeat:no-repeat;
                            ">
                            <div class="position-sticky">
                                <h1 class="heading">More than <br>
                                    just a game. <br>
                                    It’s a lifestyle.</h1>
                                    <p class="title pe-2" style="max-width:424px; color:#FEFEFE !important;">
                                        Whether you’re just starting out, have played your whole life or you're a Tour pro, your swing is like a fingerprint.
                                    </p>
                                    <p-button routerLink="/search" label="Shopping Now"></p-button>
                            </div>
                            </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
    </div>
</section>