@import "../../../../app/styles/imports.scss";

nav{
    @media (max-width:$lg){
        .w-25{
            width:100% !important;
        }
    }
    .invisible-img{
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        inset: 0;
        z-index: -5;
    }
    .input-search{
        background-color: $secondary;
    }
    .nav-item{
        .nav-link{
            color:$text-dark !important;
            padding: 0;
        }
        .inactive{
            transition: all 0.3s ease;
            width: 0;
        }
        &:hover{
            .inactive{
                width: 100%;
            }
        }
    }
    .pi{
        transition:all 0.3s ease;
        cursor: pointer;
        &:hover{
           color:$secondary2;
        }
    }
    .position-relative{
        .position-absolute{
            right:0px;
            top:50px
        }
    }
    .account-list{
        background: rgba(0,0,0,0.4);
        -webkit-backdrop-filter: blur(5.5px);
        backdrop-filter: blur(5.5px);
        transition: all 0.3s ease;
        .inter{
            padding-top:10px;
            padding-inline:10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .inter:hover{

            background:rgba(0,0,0,0.7);
        }
    }
}