<section id="search">
    <div class="container pt-lg-4 pt-0">
        <div class="input-group my-3 d-lg-none d-flex">
            <input 
            type="text" 
            placeholder="Search for a product" 
            class="form-control form-control-lg" 
            aria-describedby="search"
            name="formControl"
            [formControl]="SearchService.value"
            >
            <i class="input-group-text fs-4 bi bi-search" id="search" role="button"></i>
        </div>
        @if(!SearchService.value.value) {
            <app-categories></app-categories>
        }@else {
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-4">
                @for (product of SearchService.filteredData; track $index) {
                    <app-product-card
                    [product]="product"
                    />
                }
            </div>
        }
    </div>
</section>