<footer style="padding-block:80px">
    <div class="container">
        <div class="row">
            <div class="col mb-lg-0 mb-5 me-2">
                <a href="#" class="heading text-nowrap fw-bold fs-4 text-decoration-none">
                    {{ environment.appThemeName }}
                </a>
                <h5 class="title mb-2 mt-3">
                    Subscribe
                </h5>
                <div class="d-flex flex-column">
                    <p class="title">Get 10% off your first order</p>
                    <div class="input-group flex-nowrap">
                        <input 
                        type="email" 
                        class="form-control-plaintext
                        text-white
                        rounded-start-2 p-2 border-2 border-end-0 border-white"
                        placeholder="Enter your email"
                        />
                        <a href="#" 
                        role="button" 
                        class="input-group-text border-2 border-start-0 text-white">
                            <i 
                            class="bi bi-send"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
            @for (list of lists; track list) {
                <div class="col mb-lg-0 mb-5">
                    <h5 class="title mb-3 text-nowrap">{{ list.title }}</h5>
                    @if(!list.links){
                        @for (item of list.list; track $index) {
                            <p 
                            class="title mb-2"
                            [class]="list.title !== 'Support' ? 'pointer' : ''"
                            >{{ item }}</p>
                        }
                    }@else {
                        @for (item of list.list; track $index) {
                            <p 
                            [routerLink]="list.links[$index]"
                            class="title mb-2"
                            [class]="list.title !== 'Support' ? 'pointer' : ''"
                            >{{ item }}</p>
                        }
                    }
                </div>
            }
            <div class="col mb-lg-0 mb-5">
                <h5 class="title mb-3">Download App</h5>
                <div class="d-flex flex-column mb-2">
                    <small class="text-secondary" style="color:gray !important;">Save $3 with App New User Only</small>
                    <img ngSrc="./assets/media/footer/footer-img.png" role="button" alt="footer-img" width="198" height="84" priority>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    @for (icon of icons; track $index) {
                        <a [href]="'https://www.' + icon + '.com'" target="_blank">
                            <i [class]="'bi bi-' + icon" class="fs-4" role="button"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bg-black text-center pb-5 mb-lg-0 mb-5" style="color:gray;">© Copyright {{ environment.appThemeName }} {{ year }}. All right reserved</div>