<div class="container">
  <div class="row">
    <div class="col d-xl-block d-none">
      <img
        src="../../../assets/image/Side Image.png"
        width="805"
        height="781"
        alt=""
      />
    </div>
    <div class="col align-self-center ps-5 m-xl-0 mt-4">
      <form [formGroup]="profileForm" action="" (ngSubmit)="onSubmit()">
        <div>
          <h1>Log in to Exclusive</h1>
          <p>Enter your details below</p>
        </div>
        <div>
          <input
            type="text"
            class="form-control-plaintext border-bottom border-2"
            placeholder="Email or Phone Number"
            formControlName="nameLogin"
          />
        </div>
        <div class="mt-3">
          <input
            type="password"
            class="form-control-plaintext border-bottom border-2"
            placeholder="Password"
            formControlName="passLogin"
          />
        </div>
        <div class="mt-3 d-flex justify-content-between">
          <button
            class="btn btn-danger"
            [disabled]="!profileForm.valid"
            type="submit"
          >
            Log In
          </button>
          <button class="btn btn-dark">Forget Password?</button>
        </div>
      </form>
    </div>
  </div>
</div>

