@import "../../../../app/styles/imports.scss";

i{
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(1);
    }
}
.active{
    color:$secondary2 !important;
}