@if(showBtn){
  <div class="d-flex align-items-center w-100 justify-content-end gap-2 mb-3">
    <button class="btn btn-light" [class]="'left' + id">
      <i class="pi pi-arrow-left"></i>
    </button>
    <button class="btn btn-light" [class]="'right' + id">
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>
}
  <div class="swiper" [class]="'mySwiper' + id">
    <div class="swiper-wrapper">
      @for (product of
       endLength ?
       data()?.slice(startLength,endLength)
       : data()?.slice(startLength);
        track $index) {
      <div class="swiper-slide">
        <app-product-card [product]="product" role="button" />
      </div>
      } @if(isLoading()){ @for (item of [].constructor(10); track $index) {
      <div class="d-flex flex-column gap-2">
        <div class="me-3">
          <p-skeleton width="265px" height="250px" />
        </div>
        <div>
          <p-skeleton width="265px" styleClass="mb-2" />
          <p-skeleton width="10rem" styleClass="mb-2" />
          <p-skeleton width="10rem" styleClass="mb-2" />
          <p-skeleton width="10rem" styleClass="mb-2" />
        </div>
      </div>
      } }
    </div>
  </div>
